@model IEnumerable<WebHoly.Models.HolySubscription>

<div class="container">
    <div class="RevenuSt">
        <h2> משתמשי בית כנסת</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    שם לקוח
                </th>
                <th>
                    כתובת מייל
                </th>
                <th>
                    תאריך התחברות אחרונה
                </th>
                <th>
                    תאריך הרשמה
                </th>
                <th>
                    מספר פלאפון
                </th>
                <th>
                    עיר
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.User.Email
                    </td>
                    <td>
                        @item.User.LastLogin
                    </td>
                    <td>
                        @item.CreatedDate
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @item.City
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">הצג פרטים</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
